html {
  height: 100%;
  width: 100%;
}

body{
  background-color:lightsteelblue;
  color: navy;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  font-size:25px;
  border: double 15px steelblue ;
}

li{
  display: inline-block;
  padding: 10px ;
}

a{
  text-decoration: none;
}

footer{
  color:lightslategray;
}
